<div class="tabs">
  <ul class="tabs__navigation">
    <li class="tabs__item active">Tab 1</li>
    <li class="tabs__item">Tab 2</li>
    <li class="tabs__item">Tab 3</li>
  </ul>
  
  <div class="tabs__content">
    <div class="tabs__pane active">
      Content for Tab 1
    </div>
    <div class="tabs__pane">
      Content for Tab 2
    </div>
    <div class="tabs__pane">
      Content for Tab 3
    </div>
  </div>
</div>

<style>
  /* Styles for tabs */
</style>

<script>
  // JavaScript code for tabs functionality
</script>
